@model YummyProject.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>

<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.AboutId)

    <label>Birinci Resmi Yükleyin</label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />


    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Description)</div>

    <br />
    <label>Yazı 1</label>
    @Html.TextBoxFor(x => x.Item1, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Item1)</div>

    <br />
    <label>Yazı 2</label>
    @Html.TextBoxFor(x => x.Item2, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Item2)</div>

    <br />
    <label>Yazı 3</label>
    @Html.TextBoxFor(x => x.Item3, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Item3)</div>


    <br />
    <label>İkinci Resmi Yükleyin</label>
    <input type="file" name="ImageFile2" class="form-control" />


    <br />
    <label>Video Url</label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.VideoUrl)</div>

    <br />
    <label>Telefon No</label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.PhoneNumber)</div>

    <br />
    <div class="text-danger">@ViewBag.error</div>
    <button class="btn btn-primary">Kaydet</button>
</form>


