@model List<YummyProject.Models.ContactInfo>


<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p><span>Bizimle</span> <span class="description-title">İletişime Geç</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        @foreach(var item in Model) {

        <div class="mb-5">
            <iframe style="width: 100%; height: 400px;" src="@item.MapUrl" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Adres</h3>
                        <p>@item.Address</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Telefon</h3>
                        <p>@item.PhoneNumber</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email</h3>
                        <p>@item.Email</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                    <i class="icon bi bi-clock flex-shrink-0"></i>
                    <div>
                        <h3>Çalışma Saatleri<br></h3>
                        <p>@item.OpenHours</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

        </div>
        }

        <form action="/Default/SendMessage/" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
            <div class="row gy-4">

                <div class="col-md-6">
                    <input type="text" name="Name" class="form-control" placeholder="İsminiz" required="">
                </div>

                <div class="col-md-6 ">
                    <input type="email" class="form-control" name="Email" placeholder="Email Adresiniz" required="">
                </div>

                <div class="col-md-12">
                    <input type="text" class="form-control" name="Subject" placeholder="Mesaj Konusu" required="">
                </div>

                <div class="col-md-12">
                    <textarea class="form-control" name="MessageContent" rows="6" placeholder="Mesaj İçeriği" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                    <div class="loading">Gönderiliyor</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>

                    <button type="submit">Mesaj Gönder</button>
                </div>

            </div>
        </form><!-- End Contact Form -->

    </div>

</section>
