@model List<YummyProject.Models.Chef>


<section id="chefs" class="chefs section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Şeflerimiz</h2>
        <p><span>Bizim</span> <span class="description-title">Profesyonel Şeflerimiz<br></span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model) {
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="@item.ImageUrl" class="img-fluid" alt="">
                        <div class="social">
                            @foreach(var social in item.ChefSocials)
                {
                   <a href="@social.Url"><i class="@social.Icon"></i></a>
                }
                            
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@item.Name</h4>
                        <span>@item.Title</span>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div><!-- End Chef Team Member -->
            }
            

        </div>

    </div>

</section>
