﻿@model  List<YummyProject.Models.Booking>
@{
    ViewBag.Title = "ShowApproved";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Onaylananları Gör</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Telefon No</th>
            <th>Rezervasyon Tarihi</th>
            <th>Kişi Sayısı</th>
            <th>Mesaj</th>
            <th>Onaylandı mı?</th>
           

        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.Name</td>
                <td>@booking.Email</td>
                <td>@booking.PhoneNumber</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
                <td>@booking.PersonCount</td>
                <td>@booking.MessageContent</td>
                <td>Onaylandı</td>

            </tr>
        }
    </tbody>
</table>
<a href="/Booking/Index" class="btn btn-primary">Geri Dön</a>