@model YummyProject.Models.Event

@{
    ViewBag.Title = "UpdateEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<h2>Etkinlik Güncelleme Sayfası</h2>

<form method="post" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.EventId)


    <div class="row align-items-center">
        <br /><br />
        <div class="col-md-9 ">
            <label>Etkinlik Resmi Yükleyin</label>
            <input type="file" name="ImageFile" class="form-control" value="@Model.ImageUrl" />
        </div>
        <div class="col-md-3">
            <label>Mevcut Resim</label>
            <br />
            <img src="@Model.ImageUrl" alt="Profil Resmi" style="width:175px;height:200px;">
        </div>
    </div>



    <label>Etkinlik Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Title)</div>

    <br />
    <label>Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Description)</div>

    <br />
    <label>Ücreti</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <div class="text-danger">@Html.ValidationMessageFor(x => x.Price)</div>



    <br />
    <div class="text-danger">@ViewBag.error</div>
    <button class="btn btn-primary">Kaydet</button>
</form>
